<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.min.css">
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <title>Boost Royale</title>
</head>
<body>
    
    <main class="cookies__main">
        <section class="cookies__section">
           <header class="header">
                        <div class="container">
                            <div class="menu-left">
                                <a href="index.html" class="header-title__link">
                                    <span class="header__title">
                                        Boost Royale
                                    </span>
                                </a>

                                <div class="region">
                                    US / EU
                                </div>
                            </div>
                            

                            
                            <nav class="header__nav">
                                <ul class="header__nav-list">
                                    <li class="header__nav-list--item">
                                        <a href="index.html#1" data-index="1" class="header__nav-list--item---link">MAIN</a>
                                    </li>
                                    <li class="header__nav-list--item">
                                        <a href="index.html#2" data-index="2" class="header__nav-list--item---link">SERVICES</a>
                                    </li>
                                    <li class="header__nav-list--item">
                                        <a href="index.html#3" data-index="3" class="header__nav-list--item---link">HOW IT WORKS</a>
                                    </li>
                                    <li class="header__nav-list--item">
                                        <a href="index.html#4" data-index="4" class="header__nav-list--item---link">OUR POLICITY </a>
                                    </li>
                                    <li class="header__nav-list--item">
                                        <a href="index.html#5" data-index="5" class="header__nav-list--item---link">ABOUT US</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </header>
            <div class="container">
                <h1 class="cookies__title">Privacy policy</h1>
                <div class="cookies__content">
                    <p class="cookies__text">
                        The privacy of our customers is of paramount importance to us and we do everything to collect only the data that is really necessary for order processing and for reliably running our services. We make sure the data is protected using modern protection strategies. In this privacy policy we describe what is collected and how it is used. This policy has been reviewed to comply with General Data Protection Regulation (GDPR).

                        You can always contact us regarding your privacy and private data: wowcarryshop@gmail.com
                    </p>
                    <h3 class="cookies__subtitle">Data collected when accessing this website</h3>
                        
                    <p class="cookies__text">
                        Every time you use your web browser to access a website in the internet, it transmits some basic data. This includes, for example, your IP address, your operating system, the browser language, browser type and some more data. Also we will know the time of the access. Please refer to your Browser vendor to find more details about what data is being sent.
                        
                        Every site access is automatically written to a log file and it can contain the information just described (this is the standard configuration for most webservers on the internet). Our webservers are hosted at Digital Ocean.
                        
                        We transfer data to the following third-party services:
                        
                        Paypal. Nick, Email, Order ID and other order data for processing your payments
                        
                        Zendesk support. The chat window at the bottom right of the the screen. Your entire chat history will be saved, this is required to run our service since we use Zendesk as one of the primary communication methods. We will also send your Nick and Email to identify your as our client within the service.
                        
                        Mailchimp. Email, Nickname are added to Mailchimp Database ONLY if you choose to subscribe for our best offers newsletter
                    </p>

                    <h3 class="cookies__subtitle">We transfer anonymous data to the following third-party services:</h3>
                        
                    <p class="cookies__text">
                        Onesignal (Anonymous device ids required to send push notifications). ONLY if you choose to subscribe to our push notifications in your browser
                        
                        Google Analytics (Anonymous data that helps us to measure website performance)
                        
                        Yandex.Metric (Anonymous data that helps us to measure website performance)
                        
                        Facebook (Anonymous data that helps us to measure website performance)
                    </p>
                    <h3 class="cookies__subtitle">
                        While using this website, we collect data on multiple occasions:
                    </h3>

                    <p class="cookies__text">
                        While opening and browsing the website your IP address will be logged. This is necessary and is used to fight scammers, improve security and performance of the website. The data is deleted after at most 6 months (required by Paypal)
                        
                        When you chat in our Support Chat window, entire chat history will be saved
                        
                        If you create a new account we will save the data you provide
                        
                        If you provide additional details after checkout in “Order details” form
                        
                        If your edit your profile, we will update the data in our database
                    </p>
                        
                    <h3 class="cookies__subtitle"> Data collected during checkout process. </h3>
                    
                    <p class="cookies__text">
                        The data you enter on checkout are stored in our database. Currently we store the following data: Email, Nickname, Skype, Discord, any data you specify in "Additional information” field.
                        
                        We DO NOT have access to your payment details (credit card etc.), all transactions and payment details are securely handled by Paypal.
                    </p>

                    <h3 class="cookies__subtitle">
                        Data collected after checkout process.
                    </h3>

                    <p class="cookies__text">
                        The data you enter in "Order details" form are stored in our database. This may include your BattleTag, Server, Character Name, Faction and other information.
                        
                        The e-mail address you provide when registering, may be used to inform you about the progress of your order. It may also be used to send you your password, or for any cases where we are legally oblidged to contact you. For the e-mails being sent via this website, we use Mailchimp. We will never sell your e-mail and we will not use it for marketing, unless you subscribe subscribe to our newsletter.
                        
                        Cookies
                        
                        We use cookies for technical reasons, for our website to operate properly. We also use third-party analytics services that set cookies with anonymous data that help us to measure website performance.
                    
                    </p>

                    <h3 class="cookies__subtitle">
                        Other external infrastructure we use
                    </h3>

                    <p class="cookies__text">
                        For our own emails (those we send and receive manually), we use the Google services. We have activated all available security enhancements offered by Google.
                        
                        Both Google and Mailchimp are located in the USA. There is a data protection agreement between the EU an the USA called the EU-US Privacy Shield.
                    </p>

                    <h3 class="cookies__subtitle">Your Data</h3>

                    <p class="cookies__text">
                        If you want to know which personal data we have saved about you please send an e-mail to wowcarryshop@gmail.com.
                    </p>
                    
                    <h3 class="cookies__subtitle"> Deletion of your Data </h3>
                    <p class="cookies__text">
                        If you want us to delete your data please send an e-mail to wowcarryshop@gmail.com We will then delete everything if there is nothing (e.g. invoicing laws) that requires us to keep the data.
                    </p>

                    <h3 class="cookies__subtitle">    Correction of your Data </h3>
                    <p class="cookies__text">
                        If you want us to correct any collect data please send an email to  .
                    </p>

                    <h3 class="cookies__subtitle">    Revocation of data processing </h3>
                    <p class="cookies__text">
                        Every data processing which required an explicit user-agreement, can be revoked at any time. To do that send a short e-mail to wowcarryshop@gmail.com.
                    </p>

                    <h3 class="cookies__subtitle">    External Services used </h3>                   
                    <p class="cookies__text">
                        Here again a quick summary of the external services we use:
                        
                        • Google Apps & Services (E-Mail, Calendar etc.)
                        
                        • Zendesk
                        
                        • Mailchimp.com
                        
                        • Digital Ocean
                        
                        • Google Analytics
                        
                        • Yandex.Metric
                        
                        • Facebook
                        
                        • OneSignal
                        
                        Mailchimp, Google, Fastspring, Fabric and Dropbox are located in the USA, there is a data protection agreement between the EU an the USA called the EU-US Privacy Shield)
                    </p>

                    <h3 class="cookies__subtitle">   Further questions </h3>
                    <p class="cookies__text">
                        If you have any further questions, please send an email to wowcarryshop@gmail.com. We will reply as soon as possible.
                    </p>

                    <h3 class="cookies__subtitle"> 
                        Updates to this privacy policy
                    </h3>
                    <p class="cookies__text">
                        There may be updates to this privacy policy in the future. You will be notified about them via push-notifications, emails or on our Facebook page.
                    </p>
                </div>
                
            </div>
        </section>
        <footer class="footer">
                <div class="container">
                    <p class="footer__text">World of Warcraft tm and Blizzard Entertainment are registered trademarks of Blizzard Entertainment Inc. In U.S.A. and/or other countries. These terms and all related materials, logos, and images are copyright © Blizzard Entertainment. Boost Royale is in no way associated with or endorsed by Blizzard Entertainment™. Boost Royale is not selling wow ingame items, only offers you diffirent services to make your ingame skill better and gifting you ingame items.

                        <span>Boost Royale 2019. All Rights Reserved.</span> 
                    </p>
                </div>
            </footer>
        
    </main>


    
</body>
</html>