@import "../misc/mixins";
@import "../misc/vars";
@import "../misc/adjustment";



.footer {
    display: flex;
    flex-direction: column;
    background-color: #0e0f14;
    align-items: center;
    width: 100%;
    min-height: 150px;

    .container {
        max-width: 1320px;
    }

    p, span, .footer__text {
        @include fontTW-Regular;
        color: $white;
        font-size: 15px;
        line-height: 18px;
        width: 100%;

        span {
            display: block;
            margin-top: 20px;
        }
    }
}

//////////////////////////////////////////////////////////
//
// END STYLE FOOTER
// 
//////////////////////////////////////////////////////////