@import "../misc/mixins";
@import "../misc/vars";
@import "../misc/adjustment";


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 30px;

    &__title {
        @include fontTriforce;
        font-size: 24px;
        color: $white;
        letter-spacing: 0.1em;
        transition: all 0.2s ease;

        &:hover {
            opacity: 0.8;
        }
    }
    
    .menu-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .region {
        min-width: 63px;
        min-height: 23px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
        border-radius: 12px;
        background-color: #272937;
        margin-left: 20px;
        color: #ffc12e;
        @include fontTW-Regular;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header__nav-list {
    display: flex;
}

.header__nav-list--item {
    margin-left: 12px;
    margin-right: 12px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.header__nav-list--item---link {
    font-size: 14px;
    @include fontTW-Extralight;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
    color: #cfd0d6;
    font-weight: 600;
    border: 1px solid #cfd0d6;
    border-radius: 50px;
    transition: all 0.2s ease;

    &:hover {
        color: #0e0f14;
        background-color: #cfd0d6;
    }
}


