@import "../misc/mixins";
@import "../misc/vars";
@import "../misc/adjustment";

body {
    background-color: #191b23;
}


.main {
    display: flex;
    flex-direction: column;
    background-color: #191b23;
}

.intro {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 200px;
    background-image: url('../img/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: -10px 10px;
    background-color:  #191b23;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &__title {
        color: #ffd940;
        text-align: center;
        @include fontKG;
        font-size: 70px;
        margin-bottom: 25px;
        letter-spacing: 12px;

    }

    &__subtitle {
        @include fontTW-Extralight;
        font-size: 60px;
        line-height: 70px;
        color: #cfd0d6;
        font-weight: 400;
        letter-spacing: 0.1em;
        text-align: center;
    }
}

.intro__btn {
    width: 425px;
    min-height: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    border-radius: 100px;
    background-color: #272937;
    border: 0;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cfd0d6;
    font-size: 45px;
    text-transform: uppercase;
    text-decoration: none;
    @include fontTW-Regular;
    transition: all 0.4s ease-in-out;

    &:after {
        content: '';
        margin-left: 27px;
        display: inline-block;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-image: url('../img/btn.png');
        width: 30px;
        height: 30px;
    }

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    
}

//////////////////////////////////////////////////////////
//
// START STYLE SERVICES
// 
//////////////////////////////////////////////////////////

.services {
    background-color: #191b23;
    position: relative;
    padding-bottom: 20px;
    min-height: 900px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;


    &__title {
        background-image: url('../img/bend.png');
        background-position: center;
        background-repeat: no-repeat;
        font-weight: normal;
        height: 80px;
        min-height: 80px;
        padding-top: 10px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 40px;
        @include fontTW-Regular;
        font-size: 50px;
        letter-spacing: 0.1em;
        color: #fff;
        margin-top: auto;
        
    }

    &:before, 
    &:after {
        content: '';
        display: block;
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 50px;
        z-index: 1;
        height: 850px;

        @media screen and (max-width: 1440px){
            display: none;
        }
    }

    &:before{
        left: 0;
        background-image: url('../img/Horde.png');
        width: 502px;
        transform: translateX(-50%);
    }

    &:after {
        right: 0;
        background-image: url('../img/Alliance.png');
        width: 693px;
        transform: translateX(50%);
    }
}

.services__herolist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    z-index: 10;
}

.services__herolist-item.active{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    background-color: #181b26;

}

.services__herolist-item {
    position: relative;
    min-width: 275px;
    width: 275px;
    max-width: 275px;
    border-radius: 50px;
    min-height: 80px;
    height: 80px;
    white-space: pre-line;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    background-color: #212431;
    z-index: 10;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
        width: 176px;
        height: 134px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media screen and (max-width: 1400px){
            left: -50px;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:nth-child(1)::before{
        background-image: url('../img/JREC.png');
        z-index: 29;
    }

    &:nth-child(2)::before{
        background-image: url('../img/MORTRED.png');
    }

    &:nth-child(3)::before{
        background-image: url('../img/TRAX.png');
    }

    &:nth-child(4)::before{
        background-image: url('../img/ILLIDAN.png');
    }

    &:not(:last-child){
        margin-right: 60px;
    }
        

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 40px;
        white-space: pre-line;
        height: 100%;
        @include fontTW-Regular;
        color: #fff;
        font-size: 20px;
    }
}

.services__boostlist {
    display: flex;
    justify-content: flex-start;
    transition: 1s all ease;
    position: absolute;
    right: -1000%;
    transform: translateX(250%);
}

.services__boostlist.active {
    transform: translateX(0);
    position: relative;
    right: inherit;
    transform: translateX(0%);
    z-index: 10;
}

.services__boostlist-item {
    display: flex;
    flex-direction: column;
    @include fontTW-Regular;
    position: relative;
    color: $textBlack;
    min-width: 295px;
    width: 295px;
    max-width: 295px;
    border-radius: 15px;
    max-height: 430px;
    min-height: 430px;
    height: 100%;

    &:not(:last-child){
        margin-right: 57px;

        @media screen and (max-width: 1600px){
            margin-right: 40px;
        }
    }

    h4, .services__boostlist-item--title {
        max-height: 70px;
        min-height: 70px;
        height: 70px;
        background-color: #12131c;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;

        span {
            color: #ffc12e;
            display: inline-block;
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}

.services__boostlist-item--maincontent {
    max-width: inherit;
    width: 100%;
    min-height: 360px;
    max-height: 360px;
    height: 100%;
    position: relative;

    h5 {
        font-family:  Tahoma,Verdana,Segoe,sans-serif; 
        font-size: 16px;
        margin: 0 0 10px 0;
        font-weight: 400;
        color: #9397b2;
    }

    .services__boostlist-item--quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        background-color: #202330;
        border: 1px solid #cfd0d6;
        max-width: 120px;
        min-width: 80px;
        width: 95px;
        max-height: 24px;
        min-height: 24px;
        margin-bottom: 10px;

        &---plus,
        &---minus {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 24px;
            max-width: 24px;
            min-height: 24px;
            max-height: 24px;
            border-radius: 50%;
            font-size: 20px;
            box-shadow: none;
            background-color: #cfd0d6;
            color: inherit;
            outline: inherit;
            border-top: 0;
            border-bottom: 0;

            &:hover {
                cursor: pointer;
            }
        }

        &---plus {
            border-right: 1px solid #cfd0d6;
            border-left: 0;

        }
        
        &---minus {
            border-left: 1px solid #cfd0d6;
            border-right: 0;
        }

        .quantity {
            border: 0;
            outline: inherit;
            box-shadow: none;
            appearance: none;
            pointer-events: none;
            min-width: 40px;
            text-align: center;
            background-color: transparent;
            color: #cfd0d6;

            &::-ms-expand{
                display: none;
            }
        }

    }
}

.scrolling-info {
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 360px;
    max-height: 360px;
    height: 100%;
    position: relative;
    padding: 10px 20px 0 20px;
    padding-bottom: 66px;
    background-color: #202330;
    
    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 8px;
        padding-right: 20px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255,255,255, .40); 
        border-radius: 8px;
        border: 1px solid #d7d7d7;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #d7d7d7;; 
        border-radius: 8px;
        max-width: 1px;
      }

}

.select-wrap {
    max-width: 220px;
    width: 100%;
    min-height: 24px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid #505050;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px;
    background-color: #cfd0d6;

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border: 3px solid transparent; 
        border-top: 7px solid $black; 
    }

    &:hover {
        cursor: pointer;
    }
}

.services__boostlist-item--select {
    background-color: inherit;
    border: 0;
    width: calc(100% - 10px);
    height: 100%;
    outline: none;
    appearance: none;
    @include fontTW-Regular;
    color: #0e0f14;
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }
    

    &::-ms-expand{
        display: none;
    }

    option[disabled]{
        display: none;
    }

    option {
        width: 100%;
        height: 100%;
        outline: none;
        color: #676767;
        font-size: 16px;
        @include fontTW-Regular;
        border-radius: 50px;
        border: 1px solid #505050;
    }
}


.advantages__list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid #d7d7d7;
    margin-top: 10px;

    &-item {
        position: relative;
        padding-left: 20px;
        line-height: 20px;
        @include fontTW-light;
        font-size: 16px;
        color: #9397b2;

        &:not(:last-child){
            margin-bottom: 5px;
        }


        &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 5px;
            left: 0%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../img/checkmark.png'); 
        }

        span {
            font-weight: bold;
            font-style: normal;
            @include fontTW-Regular;
            text-decoration: underline;
            color: #9397b2;
        }
    }
}

.warning__list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border-top: 1px solid #d7d7d7;
    margin-top: 10px;

    &-item {
        position: relative;
        padding-left: 17px;
        line-height: 20px;
        @include fontTW-light;
        font-size: 16px;
        color: #9397b2;

        span {
            font-weight: bold;
            font-style: normal;
            @include fontTW-Regular;
            text-decoration: underline;
        }
    

        &:before {
            content: '';
            position: absolute;
            width: 14px;
            height: 14px;
            top: 5px;
            left: 0%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('../img/excla__mark.png');
        }
    }
}


.services__boostlist-item--footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34px;
    min-height: 34px;
    background-color: #12131c;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.75);
    z-index: 20;

    .buy {
        display: flex;
        background-color: #4f74ae;
        border-radius: 25px;
        width: 57%;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 67%;
            background-color: #ffc12e;
            border-radius: 0 17px 17px;
            height: 100%;
            color: #000000; 
            

            &:hover {
                cursor: pointer;
            }
        }

        .price {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: inherit;
            height: 100%;
            color: $white;
            width: 33%;
            padding-right: 5px;
        }
    }
}

.info {
    max-width: 34px;
    min-width: 34px;
    max-height: 34px;
    min-height: 34px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../img/info.png');
    z-index: 21;

    &:hover {
        cursor: pointer;
    }
}

.infoblock {
    background-color: #000000;
    padding: 40px 20px 20px;
    display: none;
    @include fontTW-light;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 15px;
    z-index: 30;

    svg {
        position: absolute;
        right: 0px;
        bottom: 0px;

        &:hover {
            cursor: pointer;
        }
    }

    p {
        font-size: 16px;
        line-height: 25px;
        color: $white;
        white-space: pre-line;  
    }

    
    
    strong {
        @include fontTW-Regular;
    }

    b {
        text-decoration: underline;
    }

    

    span {
        color: #3DFF8B;
        font-weight: bold;
        @include fontTW-Regular;
        position: relative;
        padding-left: 25px;

        &:before {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url('../img/time.png');

        }
    }
}

//////////////////////////////////////////////////////////
//
// END STYLE SERVICES
// 
//////////////////////////////////////////////////////////


//////////////////////////////////////////////////////////
//
// START STYLE ABOUT US
// 
//////////////////////////////////////////////////////////

.about {
    padding-top: 20px;
    box-shadow: 0 3px 50px rgba(0, 35, 207, 0.15);
    background-color: #191b23;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title, h3 {
        @include fontTW-Regular;
        font-size: 50px;
        letter-spacing: 0.1em;
        color: #fff;
        text-align: center;
        margin: 0 auto 50px;
    }

    &__subtitle, h4 {
        @include fontTW-light;
        color: #cfd0d6;
        font-weight: 300;
        font-size: 30px;
        margin-bottom: 30px;
    }

    &__text, p {
        margin: 30px 0;
        @include fontTW-light;
        color: #9397b2;
        max-width: 800px;
        width: 100%;
        font-size: 24px;


        span {
            font-weight: 1000;
            color: #cfd0d6;
        }

        &:last-of-type {
            margin-top: 0;
            margin-bottom: 50px;
        }
    }

    

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        max-width: 800px;
        height: 100%;
    }

    .about__networklist {
        display: flex;
        justify-content: space-between;
        min-height: 120px;
        min-width: 300px;
        position: relative;

        .about__networklist-item {
            width: 63px;
            height: 63px;
            position: absolute;
            top: 0;

            &:hover {
                width: 72px;
                height: 72px;
            }

            &:first-child {
                left: 0px;
            }

            &:nth-child(2){
                left: 93px;
            }

            &:nth-child(3){
                left: 183px;
            }

            &:nth-child(4){
                left: 273px;
            }

            &:nth-child(5){
                left: 363px;
            }
        }
    }
}

.about__networklist-item__link {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.2s ease;

}


.about__networklist-item {
    &:nth-child(1){
        .about__networklist-item__link{
            background-image: url('../img/discord.png');

            &:hover {
                cursor: pointer;
                background-image: url('../img/discord-hover.png');
            }
        }

        
    }
    &:nth-child(2){
        .about__networklist-item__link{
            background-image: url('../img/skype.png');

            &:hover {
                cursor: pointer;
                background-image: url('../img/skype-hover.png');
            }
        }
    }
    &:nth-child(3){
        .about__networklist-item__link{
            background-image: url('../img/telegram.png');

            &:hover {
                cursor: pointer;
                background-image: url('../img/telegram-hover.png');
            }
        }
    }
}

.about__list {
    list-style: disc;
    padding-left: 30px;
    margin-bottom: 80px;

    .about__list-item{
        color: #ffd940;
        font-size: 37px;

        .about__list-item--text, p{
            font-size: 30px;
            @include fontTW-light;
            color: #9397b2;
            margin-bottom: 10px;
        }
    }
}

.about__descr {
    display: flex;
}

.about__mainimg {
    position: absolute;
    bottom: -60px; //size of bottom margin
    right: -300px;
}       
//////////////////////////////////////////////////////////
//
// END STYLE ABOUT US
// 
//////////////////////////////////////////////////////////



//////////////////////////////////////////////////////////
//
// START STYLE POLICITY
// 
//////////////////////////////////////////////////////////


.policyty {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0e0f14;

    &__title, h3 {
        @include fontTW-Regular;
        font-size: 50px;
        letter-spacing: 0.1em;
        color: $textBlack;
        margin-bottom: 20px;
        text-align: center;
        color: #fff;
    }

    &__subtitle, h4 {
        @include fontTW-Regular;
        font-size: 30px;
        letter-spacing: 0.1em;
        color: #9397b2;
        line-height: 36px;
        margin-bottom: 10px;
    }

    &__text, p {
        font-size: 20px;
        color: #cfd0d6;
        @include fontTW-light;
        line-height: 30px;
        margin-bottom: 30px;
    }
}


//////////////////////////////////////////////////////////
//
// END STYLE POLICITY
// 
//////////////////////////////////////////////////////////


.how {
    padding-top: 20px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/how-bg.jpg');
    min-height: 965px;
    height: 960px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title, h3 {
        font-size: 50px;
        color: $white;
        border-radius: 50px 50px 0 0;
        background-color: #191b23;
        max-width: 416px;
        text-align: center;
        margin: 0 auto;
        padding: 20px 5px;
        @include fontTW-Regular;
        font-weight: 400;
    }
}

.tabs {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    @include fontTW-Regular;
    display: flex;
    padding-top: 38px;
    padding-bottom: 38px;
    min-height: 700px;
}


.tabs__caption {
    max-width: 390px;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
    border-right: 2px solid #7B7B7B;

    li {
        margin-top: 80px;
        margin-bottom: 80px;
        font-size: 31px;
        line-height: 37px;
        color: #6b6f87;
        position: relative;
        padding-left: 92px;
        width: 100%;
        transition: all 0.2s ease;
        font-weight: 400;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
            color: #cfd0d6;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &:after {
            content: '';
            display: block;
            border-right: 6px solid $white;
            position: absolute;
            right: -94px;
            top: 50%;
            transform: translateY(-50%);
            height: 55px; 
            z-index: 90;
            border-radius: 50px;
            transition: all 0.2s ease;
            background: 0 0;
            visibility: hidden;
            opacity: 0;
        }

        &:nth-child(1)::before{
            background-image: url('../img/shopping-basket.png');
            height: 58px;
            width: 68px;
        }

        &:nth-child(2)::before{
            background-image: url('../img/contact.png');
            width: 68px;
            height: 65px;
        }

        &:nth-child(3)::before{
            background-image: url('../img/credit-card.png');
            width: 68px;
            height: 45px;
        }

        &:nth-child(4)::before{
            background-image: url('../img/twitch.png');
            width: 68px;
            height: 69px;
        }
    }

    li.active {
        color: #cfd0d6;

        &:after {
            visibility: visible;
            opacity: 1;
        }
        
        &:nth-child(1)::before{
            background-image: url('../img/shopping-basket__active.png');
            height: 58px;
            width: 68px;
        }

        &:nth-child(2)::before{
            background-image: url('../img/contact__active.png');
            width: 68px;
            height: 65px;
        }

        &:nth-child(3)::before{
            background-image: url('../img/credit-card__active.png');
            width: 68px;
            height: 45px;
        }

        &:nth-child(4)::before{
            background-image: url('../img/twitch__active.png');
            width: 68px;
            height: 69px;
        }
        
    }
}


.tabs__content {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 130px;
    padding-right: 130px;
    display: none;
    @include fontTW-Regular;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: center;
    color: $white;

    .img-wrap {
        margin-bottom: 50px;
    }    

    &-img {
        width: 106px;
        height: 91px;
        object-fit: contain;
    }

    

    &-title {
        text-align: center;
        margin-bottom: 75px;
        font-size: 60px;
        line-height: 72px;
        color: #cfd0d6;
        font-weight: 400;
    }

    &-text {
        text-align: center;
        white-space: pre-line;
        color: #ababab;
        font-size: 20px;
        font-weight: 400;
    }
}

.tabs__content.active {
    display: flex;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: inherit;
    filter: blur(100%);
    background: rgba(33, 36, 49, 0.75);
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-radius: 15px;
    max-width: 600px;
    width: 100%;
    z-index: 101;

    &__close {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -30px;
        right: -30px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../img/close.png');
        transition: 0.6s all ease;

        &:hover {
            cursor: pointer;
            opacity: 0.6;
        }
    }

    &__title {
        background-color: #12131c;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
        font-weight: 400;
        font-size: 26px;
        @include fontTW-Regular;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        color: $white;
        text-align: center;
        height: 84px;
        min-height: 84px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-form{ 
        padding: 25px 40px 60px;
        display: flex;
        position: relative;
        background-color: #202330;
    }

    &__column {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    &__label {
        display: flex;
        flex-direction: column;
        font-family:  Tahoma,Verdana,Segoe,sans-serif; 
        font-size: 20px;
        color: #9397b2;
        margin-bottom: 20px;
        min-height: 66px;
        height: 66px;

        .select-wrap {
            min-height: 35px;
            height: 35px;
            margin-top: 10px;
        }
    }

    &__input {
        margin-top: 10px;
        border-radius: 50px;
        border: 1px solid #cfd0d6;
        max-width: 230px;
        width: 100%;
        max-height: 35px;
        min-height: 35px;
        padding-left: 14px;
        background-color: #cfd0d6;

        @include placeholder {
            font-size: 18px;
            color: #0e0f14;
            @include fontTW-Regular;
            font-weight: 400;

        }
    }
}

.checkbox__wrap {
    position: relative;
    min-width: 69px;
    min-height: 35px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-right: 20px;
    }
    

    &:hover {
        cursor: pointer;
    }

    .popup__input-сheckbox {
        appearance: none;
        min-width: 35px;
        min-height: 35px;
        max-width: 35px;
        max-height: 35px;
        margin-right: 5px;
        outline: none;
        background: inherit;
        box-shadow: none;

        &::-ms-expand{
            display: none;
        }
    }

    .checkbox__mark {
        position: absolute;
        display: inline-block;
        width: 35px;
        height: 35px;
        top: 0;
        left: 0;

        &::before {
            content: '';
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 35px;
            height: 35px;
            background-image: url('../img/uncheck.png');

        }
    }
}

.common-checkbox-wrap .checkbox__wrap .checkbox__mark::before {
    width: 34px;
    height: 33px;
}

.checkbox__wrap input:checked ~ .checkbox__mark::before {
    background-image: url('../img/checked.png');
}


.common-checkbox-wrap {
    display: flex;
    margin-top: 10px;
}



.form__submit-wrap {
    background-color: #4f74ae;
    width: 57%;
    font-size: 16px;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    max-width: 300px;
    min-width: 270px;
    min-height: 50px;
    max-height: 50px;

    .form__input-submit {
        background-color: #ffc12e;
        width: 67%;
        border: 0;
        box-shadow: 0;
        outline: none;
        appearance: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        color: #fff;
        font-size: 25px;
        @include fontTW-Regular;
        text-align: center;
        vertical-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    .form__submit-wrap--price{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: inherit;
        min-height: 50px;
        max-height: 50px;
        color: $white;
        font-size: 25px;
        width: 33%;
        font-family:  Tahoma,Verdana,Segoe,sans-serif; 
        padding-right: 5px;
    }
}
